# Python Data Types

# Primitive Data Types

## 1. Integer

Most common data type used to store numbers without decimal or fractional compound.

In [2]:
a = 5 
b = -5 
print(type(b))
b

<class 'int'>

-5

In [3]:
x = 45
y = -30
type(y)

int

## 2. Float

Numeric data type used to store numbers of fractional component or decimal.

In [4]:
a = 25.56
b = 93.21
type(b)

float

In [7]:
a = 88.51
b = -23.41
print(type(b))
a

<class 'float'>

88.51

## 3. Strings

In [8]:
# Single quotes 
single_quote_str = 'Hello, World!'

In [9]:
# Double quotes
double_quote_str = "Hello, World!"

In [12]:
# Triple quotes (for multi-line strings)
triple_single_quote_str = '''This is a 
multi-line string'''

triple_double_quote_str = """This is also a 
multi-line string."""
triple_double_quote_str

'This is also a \nmulti-line string.'

In [14]:
s = "Python"
first_char = s[0]
last_char = s[-1]

print(first_char, last_char)

s = "Python"
substring = s[1:4]
substring

P n

'yth'

In [15]:
s = "Hello, World!"
length = len(s)
length

13

In [16]:
# String Concatenation
s1 = "Hello"
s2 = "World"
s3 = s1 + ", " + s2 + "!"
s3

'Hello, World!'

In [2]:
a = "Py"
b = "thon"
c = a + b 
c

'Python'

In [18]:
# Repetation
s = "Hello"
s_repeated = s * 4
s_repeated

'HelloHelloHelloHello'

In [3]:
p = "Python"
q = p * 3
q

'PythonPythonPython'

In [19]:
# Case Conversion
s = "Hello, World!"
s_upper = s.upper()
s_lower = s.lower()
s_title = s.title()
s_capitalize = s.capitalize()

print(s_upper)
print(s_lower)
print(s_title)
print(s_capitalize)

HELLO, WORLD!
hello, world!
Hello, World!
Hello, world!

In [20]:
# Findings Substrings
s = "Hello, World!"
index = s.find("World")
rindex = s.rfind("World") # (searches from the right)
print(index)
print(rindex)

7
7

In [21]:
# Replacing Strings
s = "Hello, World!"
s_replace = s.replace("World", "Python")
s_replace

'Hello, Python!'

In [22]:
a = "ML"
b = '10'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [24]:
# Concatenate
str1 = 'Hello'
str2 = ' World'

result = str1 + str2 
result

'Hello World'

In [26]:
# String Properties
s = "Hello"
is_alpha = s.isalpha()
is_digit = s.isdigit()
is_alnum = s.isalnum()
is_upper = s.isupper()
is_lower = s.islower()

print(is_alpha, is_digit, is_alnum, is_upper, is_lower)

True False True False False

In [27]:
s = "Hello, World!"
s_split = s.split(",")  # ['Hello', ' World!']
s_join = "-".join(s_split)  # ['Hello-World']
s_join

'Hello- World!'

In [29]:
name = "World"
s1 = "Hello, %s!" % name   # 'Hello, World!'
s2 = "Hello, {}!".format(name)   # 'Hello, World!'
s3 = f"Hello, {name}!"    #  'Hello, World!' 
s1

'Hello, World!'

## 4. Booleans

In [31]:
a = True
print('The data type of a: ',type(a))
print('The value of a: ',bool(a))

The data type of a:  <class 'bool'>
The value of a:  True

In [32]:
is_true = True
is_False = False

print(is_true)
print(is_False)

True
False

In [33]:
x = 5 
y = 10

# Comparison operators return Boolean values
is_equal = x == y
is_not_equal = x != y

print(is_equal)
print(is_not_equal)

False
True

In [35]:
a = True
b = False

# Logical AND
result_and = a and b 

# Logical OR
result_or = a or b 

#Logical NOT
result_not = not a 

print(result_and, result_not, result_or)

False False True

In [36]:
number = 42 

if number > 50:
    print("The number is graeter than 50.")
else:
    print("The number is not greater than 50.")

The number is not greater than 50.

In [37]:
no_value = None 
type(no_value)

NoneType

# Primitive Data Type Conversion

Data type conversion, also known as type casting.

In [1]:
a = 5 
# Integer to Float
b = float(a)
print(b)

5.0

In [6]:
a = 5.0
# Float to Integer
b = int(a)
print(b)
print('a is {} and data type of a is {}'.format(b, type(b)))

5
a is 5 and data type of a is <class 'int'>

In [8]:
# String to Integer or Float
c = '10' # Value should be in numerical string
print(type(c))
d,e = int(c), float(c)
print('d is {} and e is {}'.format(d,e))
print(type(d), type(e))

<class 'str'>
d is 10 and e is 10.0
<class 'int'> <class 'float'>

In [10]:
# Invalid Conversion
bh = 'bhavan' 
bha = int(bh), float(bh)
print(bha) #ValueError: invalid literal for int() with base 10: 'bhavan'

ValueError: invalid literal for int() with base 10: 'bhavan'

In [11]:
a = int(input('Tell a number'))
b = int(input('Tell second number'))
c = a+b
print('The sum is ',c)
print('type of c', type(c), float(c))

The sum is  57
type of c <class 'int'> 57.0

In [12]:
# Float to String
a = 5.2
b = str(a)
print(b)
print(type(b))

5.2
<class 'str'>

In [13]:
# Int to Str
a = 48
b = str(a)
print(b)
print(type(b))

48
<class 'str'>

In [14]:
x = 5.8
int(x)

5

# Non-Primitive Data Type

## 1. Lists

In [67]:
# Creating a list
fruits = ["apple", "banana", "orange", "grape"]
print(fruits)

['apple', 'banana', 'orange', 'grape']

In [68]:
# Accessing Elements
print(fruits[2])
print(fruits[0])

orange
apple

In [69]:
# Modifying Elements
fruits[1] = "kiwi"
print(fruits)

['apple', 'kiwi', 'orange', 'grape']

In [70]:
# Adding Elements
fruits.append("Melon")
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'Melon']

In [71]:
fruits.append(["pineapple", "banana"])
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'Melon', ['pineapple', 'banana']]

In [72]:
fruits[4]

'Melon'

In [73]:
fruits[5][1]

'banana'

In [74]:
fruits.extend(["pineapple", "mango"])
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'Melon', ['pineapple', 'banana'], 'pineapple', 'mango']

In [75]:
fruits[7]

'mango'

In [76]:
# Insert
# Inserts an element at a specific index.
fruits.insert(1, "pear")
print(fruits)

['apple', 'pear', 'kiwi', 'orange', 'grape', 'Melon', ['pineapple', 'banana'], 'pineapple', 'mango']

In [77]:
fruits.insert(3, "Dragonfruit")
print(fruits)

['apple', 'pear', 'kiwi', 'Dragonfruit', 'orange', 'grape', 'Melon', ['pineapple', 'banana'], 'pineapple', 'mango']

In [78]:
# Pop
# Removes and returns the element at the specified index. If no index is provided, it removes and returns the last element.
popped_fruit = fruits.pop(8)
print(popped_fruit)
print(fruits)

pineapple
['apple', 'pear', 'kiwi', 'Dragonfruit', 'orange', 'grape', 'Melon', ['pineapple', 'banana'], 'mango']

In [79]:
# Removing Elements
# Removes the first occurence of the specified element.
fruits.remove("pear")
print(fruits)

['apple', 'kiwi', 'Dragonfruit', 'orange', 'grape', 'Melon', ['pineapple', 'banana'], 'mango']

In [80]:
# List length
# Finds the length of the list 
print(len(fruits))

8

In [81]:
# Index
# Returns the index of the first occurence of the specified element.
print(fruits.index("orange"))
print(fruits.index("mango"))

3
7

In [54]:
fruits.insert(8, "pear")
fruits

['apple',
 'kiwi',
 'Dragonfruit',
 'orange',
 'grape',
 'Melon',
 ['pineapple', 'banana'],
 'mango',
 'pear']

In [55]:
fruits.pop(6)
print(fruits)

['apple', 'kiwi', 'Dragonfruit', 'orange', 'grape', 'Melon', 'mango', 'pear']

In [56]:
# Count
# Returns the number of occurences of the specified element.
num_oranges = fruits.count("orange")
print(num_oranges)

1

In [57]:
# Sort
# Sorts the elements of the list in ascending order.
# Sorting the list in default ascending order. 
fruits.sort()
print(fruits)

['Dragonfruit', 'Melon', 'apple', 'grape', 'kiwi', 'mango', 'orange', 'pear']

In [58]:
fruits.sort(reverse=True)
print(fruits)

['pear', 'orange', 'mango', 'kiwi', 'grape', 'apple', 'Melon', 'Dragonfruit']

In [59]:
# Display the final list
print("Final List:", fruits)

Final List: ['pear', 'orange', 'mango', 'kiwi', 'grape', 'apple', 'Melon', 'Dragonfruit']

In [82]:
# List of Integers 
list1 = [1, 2, 3, 4, -4, 0, 2.45]
print(type(list1))

<class 'list'>

In [61]:
# List of Floats
list2 = [1.01, 2.8, 3.4, 5.6]
print(type(list2), "\n")

<class 'list'>

In [62]:
# List of Strings 
list3 = ['a', 'b', 'c', 'd']
print(type(list3), "\n")

<class 'list'>

In [63]:
# List of different data types 
list4 = [1, 1.01, 'a']
print(type(list4), "\n")

<class 'list'>

In [64]:
print(type(list2))
print(list1[0])
print(type(list1[0]))
print(type(list2[0]))
print(type(list3[0]))
print(type(list4[0]))

<class 'list'>
1
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

Accessing elements and Slicing

In [34]:
list5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# We can access any element in a given list based on Indices 
print(list5[2:7:2])
print(list5[3:8:2])

['c', 'e', 'g']
['d', 'f', 'h']

In [35]:
# We can any element in a given list based on Index range: list[Start:End]
print(list5[1:4])
print(list5[4:9])

['b', 'c', 'd']
['e', 'f', 'g', 'h', 'i']

In [36]:
list5[2:5:1]

['c', 'd', 'e']

In [39]:
# Reverse index accessing/slicing 
print(list5[-4])

g

In [41]:
list5[-7:-3]

['d', 'e', 'f', 'g']

In [42]:
list5[-4:]

['g', 'h', 'i', 'j']

In [44]:
list5[:6]

['a', 'b', 'c', 'd', 'e', 'f']

In [1]:
sam = [5,9,4,7,5,9,5,7,2,3,'no',5.12]

In [2]:
sam.remove('no')
print(sam)

[5, 9, 4, 7, 5, 9, 5, 7, 2, 3, 5.12]

In [48]:
sam.pop(10)
print(sam)

[5, 9, 4, 7, 5, 9, 5, 7, 2, 3, 5.12]

In [49]:
sam.sort()
print(sam)

[2, 3, 4, 5, 5, 5, 5.12, 7, 7, 9, 9]

In [50]:
sam.sort(reverse=True)
print(sam)

[9, 9, 7, 7, 5.12, 5, 5, 5, 4, 3, 2]

In [51]:
sam[0] = 10
sam

[10, 9, 7, 7, 5.12, 5, 5, 5, 4, 3, 2]

Exercise: Check and work on operations like Count, Sort and Insert.

In [54]:
# List of Lists
x = [1,2,3]
y = [4,5,6]
l = x + y
z = [x,y]
print(l) # concatenation
print(z)

[1, 2, 3, 4, 5, 6]
[[1, 2, 3], [4, 5, 6]]

# 2. Tuples

In [2]:
# Creating a tuple
coordinates = (3,7,4)
print(coordinates)

(3, 7, 4)

In [3]:
# Accessing elements 
x = coordinates[0]
y = coordinates[1]
x , y

(3, 7)

In [4]:
coordinates.index(4)

2

In [5]:
coordinates.index(3)

0

In [6]:
coordinates.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
# Tuple unpacking
a, b, c = coordinates
print(a, b, c)

3 7 4

In [8]:
# Immutability 
# Unconnecting the line below will result in an error since tuples are immutable.
coordinates[0] = 5

TypeError: 'tuple' object does not support item assignment

In [9]:
# Creating a new tuple with additional element
new_coordinates = coordinates + (5,4)
new_coordinates

(3, 7, 4, 5, 4)

In [10]:
# Displaying the final results 
print("Original Coordinates:", coordinates)
print("New Coordinates:", new_coordinates)

Original Coordinates: (3, 7, 4)
New Coordinates: (3, 7, 4, 5, 4)

In [12]:
T1 = (1,2,3)
T2 = (4,5,6)
T3 = T1 + T2 
print(T3)
type(T3)

(1, 2, 3, 4, 5, 6)

tuple

In [13]:
# Accessing 
T3[1]

2

In [14]:
T3[:2]

(1, 2)

In [15]:
T3[1:]

(2, 3, 4, 5, 6)

In [16]:
T3[-1]

6

In [18]:
# Tuples can contain list as an element and the list inside a tuple is mutable
T4 = (1,2,3,[5,6])
T4[3].append(5)
T4

(1, 2, 3, [5, 6, 5])

In [20]:
l1 = [1,2,3]
l2 = [4,5,6]
z = (l1, l2)
z

([1, 2, 3], [4, 5, 6])

In [22]:
a = ("q",1,"c",5,6,9,10,25,368,52,[4,1.2,3])
type(a)

tuple

In [23]:
a[5:9]

(9, 10, 25, 368)

# 3. Dictionary
Syntax = {Key1:Value1, Key2:Value2, Key3:Value3}

In [33]:
# Creating a dictionary
student_info = {'name': ['John', 'Bhavan'],'age': [20, 24], 'grade': ['A','B']}
student_info

{'name': ['John', 'Bhavan'], 'age': [20, 24], 'grade': ['A', 'B']}

In [34]:
# Copying the dictionary
new_dict = student_info.copy()
print(new_dict)

{'name': ['John', 'Bhavan'], 'age': [20, 24], 'grade': ['A', 'B']}

In [35]:
# Accessing the values using Keys.
name = student_info['name']
age = student_info['age']
name, age

(['John', 'Bhavan'], [20, 24])

In [36]:
# Get Method 
age = new_dict.get('age')
print(age)

[20, 24]

In [37]:
# Items method
items = new_dict.items()
print(items)

dict_items([('name', ['John', 'Bhavan']), ('age', [20, 24]), ('grade', ['A', 'B'])])

In [39]:
# Keys Method
keys = new_dict.keys()
print(keys)

dict_keys(['name', 'age', 'grade'])

In [40]:
# Values Method
values = new_dict.values()
print(values)

dict_values([['John', 'Bhavan'], [20, 24], ['A', 'B']])

In [41]:
# Modifying the value associated with a key.
student_info['grade'][0] = 'B'
print(student_info)

{'name': ['John', 'Bhavan'], 'age': [20, 24], 'grade': ['B', 'B']}

In [42]:
# Using update method to modify a value
student_info.update({'city': ['Blore', 'Mumbai']})
print(student_info)

{'name': ['John', 'Bhavan'], 'age': [20, 24], 'grade': ['B', 'B'], 'city': ['Blore', 'Mumbai']}

In [43]:
student_info.keys()

dict_keys(['name', 'age', 'grade', 'city'])

In [48]:
# Using setdefault method
country = student_info.setdefault('country', 'India')
print(country)
print(student_info)

India
{'name': ['John', 'Bhavan'], 'age': [20, 24], 'grade': ['B', 'B'], 'city': ['Blore', 'Mumbai'], 'country': 'India'}

In [49]:
# Removing key-value pairs.
del student_info['country']
print(student_info)

{'name': ['John', 'Bhavan'], 'age': [20, 24], 'grade': ['B', 'B'], 'city': ['Blore', 'Mumbai']}

In [50]:
# Using pop method to remove a key-value pair
popi = student_info.pop('grade')
print(popi)
print(student_info)

['B', 'B']
{'name': ['John', 'Bhavan'], 'age': [20, 24], 'city': ['Blore', 'Mumbai']}

In [51]:
# Determining the number of key-value pairs in a dictionary.
lenght = len(student_info)
print(lenght)

3

In [5]:
captains = {}
captains["India"] = "Virat Kohli"
captains["Pakistan"] = "Babar Azam"
captains["Australia"] = "Tim Paine"
captains["South Africa"] = " Faf Du Plessis"

print(captains)

{'India': 'Virat Kohli', 'Pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': ' Faf Du Plessis'}

In [6]:
a = captains.get("South Africa")
a

' Faf Du Plessis'

In [3]:
a["South Africa"]

NameError: name 'a' is not defined

In [7]:
captains["South Africa"]

' Faf Du Plessis'

In [9]:
captains["India"]

'Virat Kohli'

In [10]:
captains.pop("India")
print(captains)

{'Pakistan': 'Babar Azam', 'Australia': 'Tim Paine', 'South Africa': ' Faf Du Plessis'}

In [13]:
captains.get("India", "Pakistan")

'Pakistan'

In [14]:
# add new key:value pair
captains["England"] = "Ben Stokes"
captains

{'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': ' Faf Du Plessis',
 'England': 'Ben Stokes'}

In [15]:
# Nested Dictionary
captains["England"] = {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}
captains

{'Pakistan': 'Babar Azam',
 'Australia': 'Tim Paine',
 'South Africa': ' Faf Du Plessis',
 'England': {'T20': 'Ben Stokes', 'ODI': 'Eoin Morgan', 'Test': 'Joe Root'}}

In [16]:
captains["England"]['Test']

'Joe Root'

### 4. Sets

In [13]:
# Creating a set
unique_numbers = {1,2,3,4,5,6,7,8}
unique_numbers

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
# Adding elements to a set
unique_numbers.add(9)
unique_numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# Removing elements from a set
unique_numbers.remove(9)
print(unique_numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
# Determining the number of elements in a set
length = len(unique_numbers)
print(length)

8

In [17]:
# Set Operations 
set1 = {1,2,3}
set2 = {3,4,5}

# Set operations like Union, Intersection, and Difference
Union_Set = set1.union(set2)
Intersection_Set = set1.intersection(set2)
Difference_Set = set1.difference(set2)
print("Union:", Union_Set)
print("Intersection:", Intersection_Set)
print("Difference:", Difference_Set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

In [18]:
# Example; Finding unique words in a text
text = "Python is powerful, Python is versatile, Python is fun"
unique_words = set(text.split(' '))
unique_words

{'Python', 'fun', 'is', 'powerful,', 'versatile,'}

In [19]:
set1 = {3,4,5,5,6,6}
set1

{3, 4, 5, 6}

In [20]:
a = {1,1,2,3,6,2,3,8,4}
b = set(a)
b

{1, 2, 3, 4, 6, 8}

## Non-Primitive Data Type Conversion

In [21]:
# List to Tuple (and Vice Versa):
# From List to Tuple:
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print(my_tuple)
type(my_tuple)

(1, 2, 3, 4, 5)

tuple

In [22]:
# From List to Set:
my_list = [1,2,2,3,4,4,5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [23]:
# From Set to List:
my_set = {1,2,3,4,5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [24]:
# From Tuple to List:
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [25]:
# From Tuple to Set:
my_tuple = (1,2,2,3,4,4,5)
my_set = set(my_tuple)
my_set

{1, 2, 3, 4, 5}

In [26]:
# From Set to Tuple:
my_set = {1,2,3,4,5}
my_list = tuple(my_list)
my_list

(1, 2, 3, 4, 5)

In [28]:
# Tuple to Dictionary:
my_tuple = (("apple", 5), ("banana", 2), ("orange", 3))
my_dict = dict(my_tuple)
my_dict

{'apple': 5, 'banana': 2, 'orange': 3}

In [2]:
# List of Tuples to Dictionary:
my_list_of_tuples = [("apple", 5), ("banana", 2), ("orange", 3)]
my_dict = dict(my_list_of_tuples)
my_dict

{'apple': 5, 'banana': 2, 'orange': 3}

In [5]:
# Dictionary to List of Tuples:
my_dict = {"apple": 5, "banana": 2, "orange": 3}
my_list_of_tuples = list(my_dict.items())
print(my_list_of_tuples)

[('apple', 5), ('banana', 2), ('orange', 3)]

In [32]:
x = [[1,2], [2,6]]
y = dict(x)
y

{1: 2, 2: 6}

In [33]:
a = [12,2,5,6,9,7,8,6,5]
b = tuple(a)
b

(12, 2, 5, 6, 9, 7, 8, 6, 5)

In [34]:
c = (2,4,6,8,10,18,32)
d = list(c)
d

[2, 4, 6, 8, 10, 18, 32]

In [37]:
# A list of tuples, A tuple as an element can be repalced/added/removed from the list but element tuple itself is still immmutable.
a1 = [1,2,3,(5,6,7)]
a1[1]
a1[1] = 5
a1

[1, 5, 3, (5, 6, 7)]

In [38]:
# A tuple of lists, A list as an element inside a tuple cannot be repalaced/added/removed but elements inside elements list are mutable.
a1 = (1,2,3,[5,6,7])
a1[-1][0]
a1[-1][0] = 9
a1

(1, 2, 3, [9, 6, 7])

In [6]:
# Dictionary to list and tuple
x= {"mango": 5, "melon": 7, "papaya": 11}
y = list(x)
z = tuple(x) 
print(y)
print(z)

['mango', 'melon', 'papaya']
('mango', 'melon', 'papaya')

In [14]:
T1 = (1,2,3)
T2 = (4,5,6)
T3 = T1 + T2
print(T3)
type(T3)

(1, 2, 3, 4, 5, 6)

tuple

In [17]:
from statistics import mean, median, mode, stdev

print(sum(T3))
print(len(T3))
print(max(T3))
print(min(T3))
print(sorted(T3))
print(mean(T3))
print(median(T3))
print(mode(T3))
print(stdev(T3))

21
6
6
1
[1, 2, 3, 4, 5, 6]
3.5
3.5
1
1.8708286933869707