# **Loops**

Range Function:

The range() function generates a sequence of numbers, and it's often used with for loops. It allows you to iterate a specific number of times or create a sequence of values for iteration.

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [13]:
a = [1,2,3,4,5]
for i in a:
    print(f"{i}: {type(i)}")

1: <class 'int'>
2: <class 'int'>
3: <class 'int'>
4: <class 'int'>
5: <class 'int'>

In [3]:
numbers = [1,2,3,4,5,6,7,8,9]

for num in numbers:
    if (num%2==0):
        print(num, "is even")
    else:
        print(num, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [4]:
# a simple code to print all the elements of a given list

a = ['a', 'b', 'c', 'd', 'e']

for i in range(len(a)):
    print(a[i])

a
b
c
d
e

In [5]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [9]:
# creating a table
a = int(input("Number: "))
for i in range(1,11):
    print(a,'x',i, '=',a*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [13]:
n = int(input("Enter the number: "))
c = int(input("Till: "))
for i in range(n, n*c+1, n):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Satrun', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0]  for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Satrun': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Satrun', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0]  for planet in planets if len(planet) < 6}
planet_to_initial

{'Venus': 'V', 'Earth': 'E', 'Mars': 'M'}

In [6]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Satrun', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0]  for planet in planets if planet }
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Satrun': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [7]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(8), initial))

 Mercury begins with "M"
   Venus begins with "V"
   Earth begins with "E"
    Mars begins with "M"
 Jupiter begins with "J"
  Satrun begins with "S"
  Uranus begins with "U"
 Neptune begins with "N"

In [10]:
user_dict = {}
for _ in range(5):
    key = input("Enter key: ")
    value = input("Enter value: ")
    user_dict[key] = value

print(user_dict)

{'Bhavan': '24', 'Rashmi': '24', 'Prithvi': '26', 'mahesh': '29', 'sameer': '25'}

In [12]:
# Get all the even numbers in a given list
a = range(50)
even_list = []
for i in a:
    if i%2==0:
        even_list.append(i)
        
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [13]:
a = range(50)
even_list = []
for i in a:
    if i%2!=0:
        even_list.append(i)
        
print(even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [17]:
# Get the sum of all numbers in a given tuple/list
a = (1,2,3,4,5,6,7,8)
_sum=0
for i in a:
    _sum+=i
print(f'Sum of all the elements in the given tuple is {_sum}')

Sum of all the elements in the given tuple is 36

In [19]:
# Calculating the sum of the list
a = [1,2,3,4,5,6,7,8,9]
_sum=0
for element in a:
    _sum+=element
print(_sum)

45

In [24]:
# Iterating over characters in a string
message = "Hello, Python"
for char in message:
    print(char)

H
e
l
l
o
,

P
y
t
h
o
n

# Nested For Loops

In [25]:
# Find the product of elements inside the lists that are inside list
a = [[1,2,3],[4,5,6],[6,7,8]]
prod = 1
b =[]
for i in a:
    for j in i:
        prod *= j
    b.append(prod)
    
print(b)

[6, 720, 241920]

In [26]:
# We use dictionary as an iterable object
captains = {}
captains["India"] = "Virat Kohli"
captains["Pakistan"] = "Sarfraz Khan"
captains["Australia"] = "Tim Paine"
captains["South Africa"] = "Faf du Plesis"
#print(captains)
for i in captains:
    a = (i + ':' + captains[i])
    print(a)

India:Virat Kohli
Pakistan:Sarfraz Khan
Australia:Tim Paine
South Africa:Faf du Plesis

# While Loop

The while loop repeatedly executes a block of code as long as the specified condition is ture. Its useful when you want to repeat a process until a certain condition is met. 
Syntax: while conditional statement:                                                                                                 
code line 1                                                     
code line 2

In [28]:
count = 0 
while count < 5:
    print(count)
    count+=1

0
1
2
3
4

In [29]:
# Suming numbers until a condition is met
total = 0 
count = 1
while total < 10: 
    total += count
    count += 1 
print(f"The sum is {total}")

The sum is 10

In [30]:
# Guessing game with a while loop
secret_number = 7
guess = 0 
while guess != secret_number:
    guess = int(input("Guess the secret number: "))
print("Congratulations! You guessed the secret number.")

Congratulations! You guessed the secret number.

In [32]:
# A simple code using while
x = [0,1,2,3,4]
length = 0
while length<len(x):
    print(x)
    length+=1

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [35]:
z = 0 
while z < 3:
    print('z is ', z)
    z+=1

z is  0
z is  1
z is  2

In [37]:
# a while using elif
z = 0
while z < 3:
    if z == 0: 
        print("z value of iteration 1", z)
        z += 1
    elif z == 1:
        print("z value of iteration 2", z)
        z += 1
    else:
        print("z value of iterarion 3", z)
        z += 1

z value of iteration 1 0
z value of iteration 2 1
z value of iterarion 3 2

In [38]:
# We will solve the problem statement "Sum of all elements in a list" using "while loop"
a = [1,2,3,4,5]
_sum = 0
index = 0
while index < len(a):
    _sum += a[index]
    index += 1
print("Sum of all elements in the given list is : ", _sum)

Sum of all elements in the given list is :  15

# Nested While Loop
You can have loops inside loops. This is known as nested loops. The inner loop is executed for each iteration of the outer loop, leading to a more complex pattern of iteration.

In [44]:
# Nested While Loop
i = 1 
while i <= 4:
    j = 1
    while j <= 4:
        print(j**2, end= ' ')
        j = j + 1
    i = i + 1

1 4 9 16 1 4 9 16 1 4 9 16 1 4 9 16

# Loop Control Statements

## 1. Break

Break is a loop control statement which would terminate the loop and executes the code after the loop. The loop will be terminated even though the last item is not reached in case of a 'for' loop and even though the condition is still satisfied in case of a 'while' loop.

In [1]:
a = range(11)

for b in a:
    if b == 8:
        break
    print(b)

0
1
2
3
4
5
6
7

In [2]:
a = ['Kruthika', 'Chandan', 'Shashi', 'Madesh', 'Harshitha', 'Hema', 'Benki']
for i in a:
    if i == 'Hema':
        break 
    print(i)

Kruthika
Chandan
Shashi
Madesh
Harshitha

In [3]:
a = ['Kruthika', 'Chandan', 'Shashi', 'Madesh', 'Harshitha', 'Hema', 'Benki']
for i in a:
    if i == 'Hema':
        continue
    print(i)

Kruthika
Chandan
Shashi
Madesh
Harshitha
Benki

In [5]:
a = range(120)

for i in a:
    if i % 2 == 0:
        print(i)
    if i == 44:
        break

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [6]:
# Breaking the loop when a specific condition is met 
numbers = [10, 20, 30, 40, 50]
for num in numbers:
    if num ==30:
        pass
    print(num)

10
20
30
40
50

In [7]:
for i in range(10):
    if i == 5:
        pass 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
count = 0 
while count < 5:
    if count == 3:
        break
    print(count)
    count += 1

0
1
2

## 2. Continue

The continue statement is used to skip the rest of the code inside the loop for the current iteration. It jumps to the next iteration of the loop.

In [12]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for i in enumerate(numbers):
    if i[0] == 4:
        continue
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [15]:
# Skipping odd numbers using continue 
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    if num % 2 != 0:
        continue
    print(f"{num} is an even number.")

2 is an even number.
4 is an even number.
6 is an even number.
8 is an even number.
10 is an even number.

In [16]:
for num in range(0,5):
    if num == 3:
        continue
    print(num, end=", ")

0, 1, 2, 4,

In [17]:
my_strings = "PYTHON"
x = 0
for i in my_strings:
    x+=1
    print(my_strings[0:x])

P
PY
PYT
PYTH
PYTHO
PYTHON

In [18]:
print("\nPyramid")
for i in range(5):
    x = '*'
    x = x*i
    print(f'{x}')

Pyramid

*
**
***
****

In [19]:
print("\nInvert Pyramid")
for i in range(5):
    x = '*'
    x = x *(5-i)
    print(f'{x}')

Invert Pyramid
*****
****
***
**
*

#### **match

### List Comprehension

In [21]:
# Iterating through a string 
mystring = "WELCOME"
mylist = [i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [22]:
# Display all even numbers between the range 
mylist1 = [i for i in range(40) if i % 2 == 0]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [23]:
# Calculate square of all numbers between the range
mylist2 = [num**2 for num in range(10)]
mylist2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

### Dictionary Comprehension

In [25]:
# Double each value using dict comprehension
double = {i:i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [26]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
key = ['one', 'two', 'three', 'four', 'five']
value = [1,2,3,4,5]
mydict = {k:v for (k,v) in zip(key,value)}  # using dict comprehension 
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [28]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict1 = {i:i.upper() for i in str1}   # Lower to Upper Case
mydict1

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [1]:
for i in range(3):
    print(i)

0
1
2

In [2]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [3]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [4]:
for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [5]:
num = 10
while num > 0:
    print(num)
    if num == 5:
        break
    num -= 1

10
9
8
7
6
5

In [6]:
for i in range(1, 10, 2):
    print(i, end = "")

13579

In [8]:
x = 5
while x > 0:
    print(x)
    x -= 1

else:
    print("Loop ended")

5
4
3
2
1
Loop ended

In [10]:
n = int(input("Enter a number:"))
for i in range(1,11):
    print(n, 'x', i, '=', n*i)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [6]:
n = 3
for i in range(1,11):
    print(n, 'x', i, '=', n*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [17]:
i = 1
while i <= 25:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [19]:
i = 25
while i >= 1:
    print(i)
    i -= 1

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [24]:
x = [1,4,9,16,25,36,49,64,81,100]
i = 1
for i in range(1,11):
    (print(i*i))
    i += 1

1
4
9
16
25
36
49
64
81
100

In [33]:
num = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(num):
    print(num[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [6]:
# Write a program for multiplication table of a given number.
n = int(input("Enter a number"))
for i in range(1,11):
    print(n,'x', i, '=', n*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [15]:
# Write a program to find even numbers between 1 to 100 using while loop.
i = 1
while i <= 100:
    if i % 2 == 0:
        print(i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [10]:
def sum_avg(no):
    total = sum(no)
    avg = total/len(no)
    return total, avg

numbers = [10, 20, 30, 40, 50]
sum_avg(numbers)

(150, 30.0)

In [16]:
count = 1
while count <= 100:
    if count % 2 == 0:
        print(count)
    count += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100