In [1]:
print('bhavan')

bhavan

# **Identifiers**
Identifiers are used for identifying the variables. 
- It can contain ([A-Z], [a-z]).

In [2]:
b_2 = 4
print(b_2)

4

In [3]:
_name = 'bhavan' 
print(_name)

bhavan

In [4]:
abc_def = 123456
print(abc_def)

123456

In [5]:
_false = 0
print(_false)

0

# **Variables**
Variables are used for storing the values.

In [6]:
# Variable Assignment
x = 3.14
name = 'John'
pi = 10
is_student = True

In [7]:
x = 10 # integer
y = 'John' # String
z = 3.14 # float

In [8]:
type(x)
x = 5

In [9]:
# Check the type of a variable
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
x = 5 
print(x)

y = "new value"
print(y)

5
new value

In [11]:
import sys

P = 10
Q = "Hello World"
S = [1,2,3,4,5]

print("ID of :", id(P)) # ID of the object 
print("ID of :", id(Q)) # ID of the object
print("Storage size of :", sys.getsizeof(P), "bytes"), # size of the object
print("Storage size of :", sys.getsizeof(Q), "bytes"), # size of the object

ID of : 140728312658648
ID of : 1610974558128
Storage size of : 28 bytes
Storage size of : 52 bytes

(None,)

In [12]:
#value 5 and 6 are assigned to variables a and b respectively (= is an assignment operator)
a = 5 
b = 5
c = (sys.getsizeof(b))
a==b #(== has a different meaning, we will understand later)
a is b 
c

28

In [13]:
shashi = 3+3
shashi1 = "sa"+"meer"
print(shashi1)
print(shashi)

sameer
6

In [14]:
a,b,c = 5, 'certisured', 10
#a=5
#b = 'certisured'
#c=10
print('a is ',a)
print(b)
print(c)

a is  5
certisured
10

In [15]:
a=b=c=d=10
print(a)
print(d)

10
10

# Input and output

In [16]:
s = input("enter a number")
s

''

In [17]:
b = int(input("enter a number"))
c = int(input("enter a number"))
print(b)
print(c)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a = float(input("enter a number"))
a

35.0

In [ ]:
a = int(input('Enter a number:'))
b = int(input('Enter a number1:'))
c = a+b 
print(c)
#def add(a,b):
# return (a+b)

89

In [ ]:
x = float(input('Enter a number:'))
y = float(input('Enter a number1:'))
z = x+y 
print(z)
#def add(x,y):
# return (x+y)

20.0

In [ ]:
a = 5 
b = 6 
print("Prem Kumar is a good buy")
print(b)

Prem Kumar is a good buy
6

In [ ]:
a, b = x, y
print(b)

10.0

The print function allows you to format output using the format() method or f-strings (formatted strings literals) in Python 3.6 and later.

In [ ]:
a=5
b=6
c=7
print ('a is ',a, 'b is ',b, 'c is',c)
print('a is {} b is {} c is {}'.format(a,b,c))
print('a is {a}, b is {b}'.format(a=6, b=5))
print("stirng formating:\n")
print(f'a is {a} b is {b} c is {c}')
print (a)

a is  5 b is  6 c is 7
a is 5 b is 6 c is 7
a is 6, b is 5
stirng formating:

a is 5 b is 6 c is 7
5

# Arithemtic Operators

In [ ]:
# Let us practice arithmetic operators
a=3
b=6
print('a is {} b is {}' .format(a,b))
print('a is {a} b is {b}'.format(a=4, b=7))

a is 3 b is 6
a is 4 b is 7

In [ ]:
num1 = 10
num2 = 15
num3 = num1 + num2 
print (num3)

25

In [ ]:
a = 12
b = 8
print(a+b)

20

In [ ]:
a = 23
b = 33
c = a+b
print(c)

56

In [ ]:
x = 50
y = 35
print(x-y)

15

In [ ]:
x = 45
y = 21
z = x - y
print(z)

24

In [ ]:
x = 35
y = 40 
z = x-y
print(z)

-5

In [ ]:
a = 25
b = 12
a*b

300

In [ ]:
a = 35
b = 35 
c = a*b
print(c)

1225

In [ ]:
x = 20
y = 5
x/y

4.0

In [ ]:
x = 45
y = 5 
z = x/y
print(z)

9.0

In [ ]:
a = 15
b = 3 
a//b # divisible by

5

In [ ]:
a = 24
b = 4
c = a//b #Floor division operator (divisible by)
print(c)

6

In [ ]:
a = 24
b = 4 
a**b #Exponential operator (power of)

331776

In [ ]:
x = 27
y = 2 
x%y #Modolous operator (remainder)

1

# Comparison Operators

In [ ]:
num1 = 7 
num2 = 4 
num1>num2

True

In [ ]:
num1 = 7 
num2 = 4
num2>num1

False

In [ ]:
num1 = 7 
num2 = 4 
num1==num2

False

In [ ]:
num1 = 7
num2 = 4
num1!=num2

True

In [ ]:
num1 = 7
num2 = 4
num1>=num2

True

In [ ]:
num1 = 7
num2 = 4
num1<=num2

False

# Logical Operators

In [ ]:
True and False

False

In [ ]:
True and True

True

In [ ]:
True or False

True

In [ ]:
a = 7 
b = 5
a>b and a<b

False

In [ ]:
a = 7
b = 5 
a>b or a<b

True

In [ ]:
a = 7
b = 5 
a<=b or a>b

True

In [ ]:
not True

False

In [ ]:
a = []
not a

True

In [ ]:
a = [1,2,3,4,5]
not a

False

In [ ]:
a = 10
b = 24
a>b and b>a

False

# Bitwise Operators

In [ ]:
10&5

0

In [1]:
15&10

10

In [ ]:
3 | 4

7

In [ ]:
10 | 5

15

In [ ]:
10^5

15

In [ ]:
3^4

7

In [ ]:
~-3

2

In [ ]:
~9

-10

In [ ]:
~20

-21

In [ ]:
10<<1

20

In [ ]:
10<<2

40

In [ ]:
25<<1

50

In [ ]:
10>>1

5

In [ ]:
10>>2

2

In [ ]:
25>>1

12

# Assignment Operators

In [ ]:
num1 = 7
print(num1)

7

In [ ]:
num1 = 7
num2 = 4 
num1+=num2 
print(num1)

11

In [ ]:
num1 = 7
num2 = 4
num1-=num2
print(num1)

3

In [ ]:
num1 = 10
num2 = 12
num1*=num2 
print(num1)
print(num2)

120
12

In [ ]:
num1 = 10 
num2 = 12 
num1/=num2
print(num1)

0.8333333333333334

In [ ]:
num1 = 2
num2 = 4 
num1/=num2 
print(num1)

0.5

In [ ]:
num1 = 4
num2 = 6
num1%=num2 
print(num1)

4

In [ ]:
num1 = 24
num2 = 5
num1%=num2
print(num1)
print(num2)

4
5

In [ ]:
num1 = 48
num2 = 6
num1//=num2 
print(num1)
print(num2)

8
6

# Membership Operators

In [18]:
4 not in [1,2,3]

True

In [20]:
"help" in "stupidity"

False

In [21]:
2 in (1,2,3)

True

In [22]:
"help" not in "stupidity"

True

In [23]:
15 not in (10,20,30)

True

In [24]:
6 in [2,4,6,8,10]

True

# Identity Operators

In [25]:
2 is 2.0

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\91938\AppData\Local\Temp\ipykernel_16404\700261715.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  2 is 2.0

False

In [26]:
2 is 2

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\91938\AppData\Local\Temp\ipykernel_16404\804453312.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  2 is 2

True

In [28]:
x = ["apple","banana"]
y = ["apple","banana"]
print(x==y)
print(x is y)
print(x is not y)
print(id(x))
print(id(y))

True
False
True
1610980977728
1610981068992

In [29]:
0 is not False

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\91938\AppData\Local\Temp\ipykernel_16404\2675178027.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  0 is not False

True

In [31]:
x = ["apple","banana"]
y = ["apple","banana"]
z=x 
print(x is z)
print(id(x))
print(id(z))
print(id(y))

True
1610974578752
1610974578752
1610981331136

In [32]:
a = 8
b = a 
a is b

True

In [33]:
b = 10
c = b  
b is c

True