In [1]:
#pip install -r Requirements.txt

In [2]:
#pip install pandas sqlalchemy mysql-connector-python

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import mysql.connector
from sqlalchemy import create_engine, types

import warnings
warnings.filterwarnings('ignore')

In [19]:
Conn = mysql.connector.connect(
    host='localhost',               # host name
    user='root',                    # the user who has privilege to the database
    password='root',                # password for user
    database='eda_practice',        # database name
)

In [20]:
query = 'select * from cars;'

In [21]:
df = pd.read_sql(query, Conn)
df.head(2)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,None,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,None,12.50

#### **Car Dataset**

In [15]:
# Load the dataset
df = pd.read_csv(r'C:\Users\91938\OneDrive\Documents\Python Scripts\Pandas\Car.csv')

# Define MySQL connection string
engine = create_engine('mysql+mysqlconnector://root:root@localhost/eda_practice')

# Define data types for MySQL table
dtype_mapping = {
    'S.No.': types.Integer(),
    'Name': types.String(255),
    'Location': types.String(255),
    'Year': types.Integer(),
    'Kilometers_Driven': types.Integer(),
    'Fuel_Type': types.String(50),
    'Transmission': types.String(50),
    'Owner_Type': types.String(50),
    'Mileage': types.String(50),
    'Engine': types.String(50),
    'Power': types.String(50),
    'Seats': types.Float(),
    'New_Price': types.String(255),  # Adjust length based on your data
    'Price': types.Float()
}

# Write the DataFrame to the MySQL table, handling null values
df.to_sql(name='cars', con=engine, if_exists='replace', index=False, dtype=dtype_mapping)

print("Data loaded successfully.")

Data loaded successfully.